# Dataset
dataset/
models/
# Generated outputs
outputs/
#virtual environment 
.venv/ 
# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db.venv/
__pycache__/
*.pyc
